@{
    ViewBag.Title = "Home Page";
}

@{
    var client = new WebClient();
    var json = client.DownloadString("http://localhost:7888/api/1/metadata");
    var metadata = Json.Decode(json);

    var dimensionsJson = client.DownloadString("http://localhost:7888/api/1/dimensions/list");
    var dimensions = Json.Decode<List<string>>(dimensionsJson);

    var columnList = new List<string>(dimensions);
    columnList.Insert(0, "Ordinal");
    columnList.AddRange( new [] { "Property", "Value" } );
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>

    @*<script src="@Href("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>*@
    
    <script src="@Href("~/Scripts/jquery-ui-1.11.4/jquery-ui.min.js")" type="text/javascript"></script>
    <link href="@Href("~/Scripts/jquery-ui-1.11.4/jquery-ui.theme.min.css")" type="text/css" rel="stylesheet"/>
    <link href="@Href("~/Scripts/jquery-ui-1.11.4/jquery-ui.css")" type="text/css" rel="stylesheet"/>

    <link href="@Href("~/Content/datatables.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Href("~/Scripts/datatables.min.js")" type="text/javascript"></script>

    <link href="@Href("~/Content/dashboard.css")" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        $(function () {
            $('#btnQuery').button({ icons: { primary: "ui-icon-search" } });

            @foreach (var result in metadata)
            {
                @*var addButton = "#btnAdd" + result.Dimension.Name;
                var clearButton = "#btnClear" + result.Dimension.Name;
                @:$('@addButton').button({ icons: { primary: "ui-icon-plusthick" }, text: false });
                @:$('@clearButton').button({ icons: { primary: "ui-icon-closethick" }, text: false });*@

                var selectList = "#list" + result.Dimension.Name;
                @:$('@selectList ul').append(
                @:    $('<li>').append(
                @:      $('<a>').attr('href', '/user/messages').append(
                @:          $('<span>').attr('class', 'tab').append("Message center")
                @:)));

                @:var values = [];
                            foreach (var value in result.Values)
                {
                @:values.push('@value');
                            }
                @:values.sort();
                            @:$('#@result.Dimension.Name').autocomplete({ source: values, minLength: 0 });
                        }
        });

        $(document).ready(function () {

            var columns = [];
            @foreach (var column in columnList)
            {
            @:columns.push({ title: '@column', data: '@column', width: '35px' });
                        }

            var resultsTable = $('#resultsTable').DataTable({
                columns: columns,
                destroy: true,
                displayLength: 50
            });

            $('#btnQuery').click(
                function () {
                    var values = {};

                    $.each($('#queryForm').serializeArray(), function (i, field) {
                        if (field.value) {
                            values[field.name] = field.value;
                        }
                    });

                    resultsTable.destroy();

                    resultsTable = $('#resultsTable').DataTable({
                        columns: columns,
                        destroy: true,
                        displayLength: 50,
                        ajax: {
                            url: "http://localhost:7888/api/1/query",
                            type: "GET",
                            dataType: "json",
                            data: values
                        }
                    });
                }
            );

            @foreach (var result in metadata)
            {
                var addButton = "#btnAdd" + result.Dimension.Name;
                var clearButton = "#btnClear" + result.Dimension.Name;
                @:$('@addButton').click(function () { alert('add'); });
                @:$('@clearButton').click(function () { alert('clear'); });
            }
        });

    </script>    
</head>
<body>
    
<div class="row">

    <div class="col-sm-3 col-md-2 sidebar">
        <button id="btnQuery" padding="0 0 0 10" type="submit">Query</button>        
        <div>
            <form id="queryForm">
                @{
                    foreach (var result in metadata)
                    {
                        var addButton = "#btnAdd" + result.Dimension.Name;
                        var clearButton = "#btnClear" + result.Dimension.Name;

                    @:<label for="@result.Dimension.Name">@result.Dimension.Name</label>
                    @:<button id="@addButton" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" aria-disabled="false" title="Add @result.Dimension.Name">
                    @:    <span class="ui-button-icon-primary ui-icon ui-icon-circle-plus"></span>
                    @:    <span class="ui-button-text">Button with icon only</span>
                    @:</button>
                    @:<button id="@clearButton" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" aria-disabled="false" title="Clear @result.Dimension.Name">
                    @:    <span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span>
                    @:    <span class="ui-button-text">Button with icon only</span>
                    @:</button>
                    @:<p>
                    @:<input type="text" id="@result.Dimension.Name" name="@result.Dimension.Name" onfocus="javascript:$(this).autocomplete('search', '');" />
                    @:<div id="selectList">
                    @:    <ul></ul>
                    @:</div>
                    }
                }
            </form>
        </div>

    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">        
        <table id="resultsTable" class="display" cellspacing="0" width="100%"></table>
    </div>

</div>

</body>
</html>
